.vscode/settings.json
Esercizio1/.vscode/launch.json
Esercizio1/tmp.c
Esercizio1/.vscode/settings.json
Esercizio1/.vscode/tasks.json
Esercizio1/records.csv
Esercizio1/file_test
Esercizio1/bin/main
Esercizio1/build/quicksort.o
