.vscode/settings.json
Esercizio1/.vscode/launch.json
Esercizio1/.vscode/settings.json
Esercizio1/.vscode/tasks.json
Esercizio1/records.csv
Esercizio1/bin/main
Esercizio1/build/quicksort.o
Esercizio2/dictionary.txt
Esercizio2/correctme.txt
Esercizio2/bin/main
Esercizio2/build/skiplist.o
Esercizio2/.vscode/tasks.json
